@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

Header {
  header {
    background-color: black;
  }

  h1 {
    font-family: 'Bungee Spice';
    font-size: 3rem;
  }
}